// HOME ----> INDEX.HTML

.home-header {
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;    
}

// NAVIGATION MENU

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
}

nav ul a {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: inherit;
}

nav ul li {
    @include navigation;
}

// CONTAINER FOR HEADER + IMAGE

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100vw;
    position: relative;
}

.header-img {
    position: absolute;
    max-width: 50%;
    left: 60%;
    top: 10%;
    padding-left: 30px;
}

//  ICONS SECTION

#icon-links {
    background-color: $turquoise;
    padding-top: 150px;
    padding-bottom: 100px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-text p {
    color: $paleGrey;
}

.fas {
    color: $purple;
    font-size: 3rem;
}

.icon-background {
    color: $aqua;
    font-size: 5rem;
}

.flex-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-icons h3 a {
    text-decoration: none;
    color: $paleGrey;
}

.flex-icons h3 a:hover {
    color: $darkBlue;
}

.text p {
    margin-left: 75px;
    padding-bottom: 20px;
}

// PROGRAMS + LOCATIONS

#programs-locations {
    background-color: $purple;
}

.button {
    padding-top: 60px;
    padding-bottom: 100px;
    font-family: "Walter Turncoat", cursive;
    font-size: 25.4px;
}

.button a {
    background-color: $aqua;
    color: $purple;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}

// Our Programs
.programs-img1 img {
    box-shadow: 15px 15px 0 $aqua;
    position: absolute;
    top: -15px;
    left: -190px;
    width: 55%;
}

.programs-img2 img {
    box-shadow: -15px 15px 0 $aqua;
    position: absolute; 
    width: 55%; 
    right: -90px;
    margin: 0 auto;
}
// position absolute on image causing horizontal scrolling, not sure about this trick but seems to be working?:
body {
    overflow-x: hidden;
}

.programs-top {
    display: flex;
    flex-direction: row;
    position: relative;
}

.programs-bottom {
    display: flex;
    flex-direction: row;
    position: relative;
}

// NEW LOCATIONS
.locations {
    text-align: right;
    width: 35%;
}

.our-programs {
    padding-top: 50px;
    padding-left: 55%;
}

// ROAD TRIPS ANYONE?
#roadtrips {
    background-color: $turquoise;
    text-align: center;
}

.roadtrips-text {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.banner img{
    width: 100vw;
}

#events {
    background-color: $turquoise;
}

.events-text {
    width: 50%;    
}

.events-text h3 {
    padding: 0;
}

.events-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
}

.events-img img {
    box-shadow: -20px 15px 0 $aqua;    
}

// IMAGE GALLERY
#gallery {
    background-color: $purple;    
}

.gallery-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-flex img {
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}